[submodule "roles/firewall"]
	path = roles/firewall
	url = https://github.com/NETivism/ansible-role-firewall.git
[submodule "roles/timezone"]
	path = roles/timezone
	url = https://github.com/NETivism/ansible-timezone.git
[submodule "roles/ntp"]
	path = roles/ntp
  url = https://github.com/NETivism/ansible-role-ntp.git
[submodule "filter_plugins/split"]
	path = filter_plugins/split
	url = https://github.com/NETivism/ansible-string-split-filter
[submodule "roles/letsencrypt"]
	path = roles/letsencrypt
	url = https://github.com/NETivism/ansible-letsencrypt.git
