server {
  listen 80;
  server_name {{ domain  }};
  root /var/www/sites/{{ domain }};
  set $port {{ port_www }};
{% if allow_install_update %}
{% if 'fpm' in type %}
  include /etc/nginx/allow_install_update_fpm.conf;
{% else %}
  include /etc/nginx/allow_install_update.conf;
{% endif %}
{% endif %}
  include /etc/nginx/{{ type }}.conf;
}
