{% for redirect in redirects %}
server {
  server_name {{ redirect.source }};
  return 301 $scheme://{{ redirect.dest }}$request_uri;
}
server {
  server_name {{ redirect.source }};
  root /var/www/sites/{{ redirect.source }};
}
{% endfor %}
