---
target: {{ inventory_hostname }}
# Remove [] and input user account and website.
# Example:
# user_docker:
#   - { name: 'gloomcheng', website: ['demo.neticrm.tw'] }
#
user_docker: []

user_ssh: []

user_sftp: []

user_lock: []
