server {
{% if ssl != 2 %}
  listen 80;
{% endif %}
{% if ssl == 1 %}
  listen 443 ssl {% if nginx_version.stdout == "1.6" %}spdy{% else %}http2{% endif %};
{% elif ssl == 2 %}
  listen 443 ssl {% if nginx_version.stdout == "1.6" %}spdy{% else %}http2{% endif %};
{% endif %}
  server_name {{ domain }}{% if alias is defined %}{% for item in alias %} {{ item }}{% endfor %}{% endif %};
  root /var/www/sites/{{ domain }};
  set $port {{ port_www }};
{% if ssl == 1 or ssl == 2 %}
  ssl_certificate      {{ ssl_crt }};
  ssl_certificate_key  {{ ssl_key }};
  include /etc/nginx/include/ssl.conf;
{% endif %}
  include /etc/nginx/sites-available/{{ domain }}.*custom;
{% if allow_install_update %}
{% if 'fpm' in type %}
  include /etc/nginx/include/allow_install_update_fpm.conf;
{% else %}
  include /etc/nginx/include/allow_install_update.conf;
{% endif %}
{% endif %}
  include /etc/nginx/include/{{ type }}.conf;
}
{% if ssl == 2 %}
server {
  listen 80;
  server_name {{ domain }}{% if alias is defined %}{% for item in alias %} {{ item }}{% endfor %}{% endif %};
  return 301 https://$host$request_uri;
}
{% endif %}
{% if ssl == 0 %}
server {
  listen 443 ssl {% if nginx_version.stdout == "1.6" %}spdy{% else %}http2{% endif %};
  server_name {{ domain }}{% if alias is defined %}{% for item in alias %} {{ item }}{% endfor %}{% endif %};
  ssl_certificate      {{ ssl_crt }};
  ssl_certificate_key  {{ ssl_key }};
  include /etc/nginx/include/ssl.conf;

  return 301 http://$host$request_uri;
}
{% endif %}
