{% for redirect in redirects %}
server {
  listen 80;
  listen 443 ssl spdy;
  server_name {{ redirect.source }};
  include /etc/nginx/include/ssl.conf;
  return 301 $scheme://{{ redirect.dest }}$request_uri;
}
{% endfor %}
