#! /bin/sh
# /usr/local/bin/mount.sh
{% if user_sftp is defined %}
{% for user in user_sftp %}{% for website in user['website'] %}mount --bind /var/www/sites/{{ website }} /home/{{ user['name'] }}/{{ website }}
{% endfor %}{% endfor %}
{% endif %}
