#!/bin/bash

HOSTNAME={{ inventory_hostname }}
LOG="/backup/log"
DATETIME=`date +'%Y-%m-%d %H:%M:%S %a'`
DATE=`date +%Y-%m-%d`
echo "" > "$LOG/$DATE.log"
if [ ! -d $LOG ]; then
  mkdir -p $LOG
fi
for RUN in `find /var/www/sites/*/sites/*/settings.php -printf "%C@ %p\n" | sort | awk '{ print $2 }'` ; do
  NAME=${RUN//\/var\/www\/sites\//}
  NAME=${NAME%%/*}
  TMP=${RUN%/*}
  TMP=${TMP##*/}
  CONFPATH=${RUN%/*}

  # exclude symbolic link directory
  if [ -L $CONFPATH ]; then
    continue
  fi

  TMP=${CONFPATH##*/}
  SITE=""

  if [ "$TMP" != "default" ]; then
    SITE=$TMP
  else
    SITE=$NAME
  fi

  RUNNING=$(docker ps -q -f name=^/$NAME$)

  if [ -n "$RUNNING" ]; then
    docker exec -i $RUNNING bash -c "mysqldump -uroot -p\$INIT_PASSWD --skip-lock-tables \$INIT_DB | gzip -9 -c > /var/www/html/log/backupdb.sql.gz"
    DATETIME=`date +'%Y-%m-%d %H:%M:%S %a'`
    docker run --rm -v /var/www:/var/www --volumes-from gcloud-config netivism/docker-google-cloud-sdk gsutil -h 'Content-Type: application/gzip' -h 'Content-Disposition:attachment; filename=backupdb.sql.gz' cp -e -c /var/www/sites/$NAME/log/backupdb.sql.gz gs://neticrm/$HOSTNAME/$NAME/db/backupdb-$(date +%u).sql.gz
    RESULT=$?
    echo "$DATETIME" >> "$LOG/$DATE.log"
    if [ $RESULT -eq 0 ]; then
      echo "SUCCESS $NAME db backup upload" >> "$LOG/$DATE.log"
    else
      echo "FAILED $NAME db backup upload" >> "$LOG/$DATE.log"
    fi
  fi
done

for RUN in `find /var/www/sites/*/sites/*/settings.php -printf "%C@ %p\n" | sort | awk '{ print $2 }'` ; do
  NAME=${RUN//\/var\/www\/sites\//}
  NAME=${NAME%%/*}
  CONFPATH=${RUN%/*}
  # exclude symbolic link directory
  if [ -L $CONFPATH ]; then
    continue
  fi
  DATETIME=`date +'%Y-%m-%d %H:%M:%S %a'`
  RUNNING=$(docker ps -q -f name=^/$NAME$)
  # clear boost cache first
  if [ -d "/var/www/sites/$NAME/cache/normal" ]; then
    cd /var/www/sites/$NAME/cache && rm -Rf normal
  fi
  if [ -n "$RUNNING" ]; then
    MOUNTS=$(docker inspect -f '{{ '{{' }}range .Mounts{{ '}}' }}{{ '{{' }}println "-v" .Source ":" .Destination{{ '}}' }}{{ '{{' }}end{{ '}}' }}' $RUNNING | sed -s 's/ : /:/g' | tr '\n' ' ')
    docker run --rm $MOUNTS --volumes-from gcloud-config netivism/docker-google-cloud-sdk gsutil -m rsync -e -C -r -x 'log|cache|.*\.sql\.gz$|.*\.sql$|sites/.*/files/(styles|imagecache|css|js)|\.git.*' /var/www/html gs://neticrm/$HOSTNAME/$NAME/web/
    RESULT=$?
    CMD="docker run --rm $MOUNTS --volumes-from gcloud-config netivism/docker-google-cloud-sdk gsutil -m rsync -e -C -r -x 'log|cache|.*\.sql\.gz$|.*\.sql$|sites/.*/files/(styles|imagecache|css|js)|\.git.*' /var/www/html gs://neticrm/$HOSTNAME/$NAME/web/"
  else
    MOUNTS="-v /var/www:/var/www -v /mnt/neticrm-7:/mnt/neticrm-7 -v /mnt/neticrm-6:/mnt/neticrm-6"
    docker run --rm $MOUNTS --volumes-from gcloud-config netivism/docker-google-cloud-sdk gsutil -m rsync -e -C -r -x 'log|cache|.*\.sql\.gz$|.*\.sql$|sites/.*/files/(styles|imagecache|css|js)|\.git.*' /var/www/sites/$NAME gs://neticrm/$HOSTNAME/$NAME/web/
    RESULT=$?
    CMD="docker run --rm $MOUNTS --volumes-from gcloud-config netivism/docker-google-cloud-sdk gsutil -m rsync -e -C -r -x 'log|cache|.*\.sql\.gz$|.*\.sql$|sites/.*/files/(styles|imagecache|css|js)|\.git.*' /var/www/sites/$NAME gs://neticrm/$HOSTNAME/$NAME/web/"
  fi
  echo "$DATETIME" >> "$LOG/$DATE.log"
  if [ $RESULT -eq 0 ]; then
    echo "SUCCESS $NAME website backup sync" >> "$LOG/$DATE.log"
  else
    echo "FAILED $NAME website backup sync" >> "$LOG/$DATE.log"
    echo "$CMD" >> "$LOG/$DATE.log"
  fi
done
